In [20]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('water.txt', sep = '\t')

In [5]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [6]:
hardness_mortality = data[['hardness','mortality']]

In [7]:
hardness_mortality.corr()

           hardness  mortality
hardness   1.000000  -0.654849
mortality -0.654849   1.000000

In [8]:
import scipy.stats

In [9]:
scipy.stats.spearmanr(data['hardness'],data['mortality'])

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

In [11]:
data_north = data[data['location'] == 'North']

In [12]:
data_south = data[data['location'] == 'South']

In [14]:
print(data_north.corr())
print(data_south.corr())

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000
           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [18]:
def Met_corr (a,b,c,d):
    return (a*d - b*c)/float(((a+b)*(a+c)*(d+b)*(c+d))**0.5)

In [81]:
Met_corr(718,515,203,239)

0.10900237458678963

In [82]:
data_2 = np.array([[718, 515],[203,239]])

In [83]:
scipy.stats.chi2_contingency(data_2)

(19.40753078854304,
 1.0558987006638725e-05,
 1L,
 array([[677.96597015, 555.03402985],
        [243.03402985, 198.96597015]]))

In [84]:
round(1.3323079506846662e-05, 5)

1e-05

In [85]:
def z_stat(p1,p2,n1,n2):
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [88]:
p1 = float(239)/754
p2 = float(203)/921
n1 = 754
n2 = 921

In [89]:
z = scipy.stats.norm.ppf(1 - 0.05 / 2.)   
left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/ n2)
right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ n1 + p2 * (1 - p2)/n2)

In [90]:
print "confidence interval: [%f, %f]" % (left_boundary,right_boundary)

confidence interval: [0.053905, 0.139222]

In [70]:
def z_stat(p1,p2,n1,n2):
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [91]:
z_statistic = z_stat(p1,p2,n1,n2)

In [92]:
z_statistic

4.46111444482329

In [93]:
2*(1 - scipy.stats.norm.cdf(np.abs(z_statistic)))

8.153453089576601e-06

In [53]:
table = np.array([[197, 111,33],[382,685,331],[110,342,333]])

In [54]:
scipy.stats.chi2_contingency(table)

(293.68311039689746,
 2.4964299580093467e-62,
 4L,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

In [87]:
 ((293.68311039) /2524)**0.5

0.34111028187632114

In [64]:
 sum(sum(table))

2524